apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: deis-controller
  labels:
    heritage: deis
spec:
  replicas: 1
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
    type: RollingUpdate
  selector:
    matchLabels:
      app: deis-controller
  template:
    metadata:
      labels:
        app: deis-controller
    spec:
      serviceAccount: deis-controller
      containers:
        - name: deis-controller
          image: quay.io/{{.Values.org}}/controller:{{.Values.dockerTag}}
          imagePullPolicy: {{.Values.pullPolicy}}
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8000
            initialDelaySeconds: 30
            timeoutSeconds: 10
          readinessProbe:
            httpGet:
              path: /readiness
              port: 8000
            initialDelaySeconds: 30
            timeoutSeconds: 10
            periodSeconds: 5
          ports:
            - containerPort: 8000
              name: http
          env:
            # NOTE(bacongobbler): use deis/registry_proxy to work around Docker --insecure-registry requirements
            - name: "DEIS_REGISTRY_SERVICE_HOST"
              value: "localhost"
            - name: "DEIS_REGISTRY_SERVICE_PORT"
              value: "{{ .Values.global.hostPort }}"
            - name: "APP_STORAGE"
              value: "{{ .Values.global.storage}}"
            - name: "DEIS_REGISTRY_LOCATION"
              value: "{{ .Values.global.registry_location }}"
            - name: "DEIS_REGISTRY_SECRET_PREFIX"
              value: "{{ .Values.global.secretPrefix }}"
            - name: "SLUGRUNNER_IMAGE_NAME"
              value: "quay.io/{{ .Values.slugrunner.org }}/slugrunner:{{ .Values.slugrunner.dockerTag }}"
            - name: DEIS_SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: django-secret-key
                  key: secret-key
            - name: DEIS_BUILDER_KEY
              valueFrom:
                secretKeyRef:
                  name: builder-key-auth
                  key: builder-key
{{- if eq .Values.global.database_location "off-cluster" }}
            - name: DEIS_DATABASE_NAME
              valueFrom:
                secretKeyRef:
                  name: database-creds
                  key: name
            - name: DEIS_DATABASE_SERVICE_HOST
              valueFrom:
                secretKeyRef:
                  name: database-creds
                  key: host
            - name: DEIS_DATABASE_SERVICE_PORT
              valueFrom:
                secretKeyRef:
                  name: database-creds
                  key: port
{{- end }}
            - name: DEIS_DATABASE_USER
              valueFrom:
                secretKeyRef:
                  name: database-creds
                  key: user
            - name: DEIS_DATABASE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: database-creds
                  key: password
            - name: RESERVED_NAMES
              value: "deis, deis-builder, deis-workflow-manager, grafana"
          volumeMounts:
            - mountPath: /var/run/docker.sock
              name: docker-socket
            - name: builder-key-auth
              mountPath: /var/run/secrets/api/builder/auth
              readOnly: true
            - name: django-secret-key
              mountPath: /var/run/secrets/api/django
              readOnly: true
            - name: database-creds
              mountPath: /var/run/secrets/deis/database/creds
              readOnly: true
      volumes:
        - name: docker-socket
          hostPath:
            path: /var/run/docker.sock
        - name: django-secret-key
          secret:
            secretName: django-secret-key
        - name: builder-key-auth
          secret:
            secretName: builder-key-auth
        - name: database-creds
          secret:
            secretName: database-creds
